/******************************************************************************
 * FONTFACES
 * Webfonts and shit.
 ******************************************************************************/
@font-face{
  font-family: 'Avenir Next';
  src: local('Avenir Next Regular'), local('AvenirNext-Regular'), url('../fonts/AvenirNext-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face{
  font-family: 'Avenir Next';
  src: local('Avenir Next Demi Bold'), local('AvenirNext-DemiBold'), url('../fonts/AvenirNext-DemiBold.woff');
  font-style: normal;
  font-weight: 600;
}

@font-face{
  font-family: 'Avenir Next';
  src: local('Avenir Next Italic'), local('AvenirNext-Italic'), url('../fonts/AvenirNext-Italic.woff');
  font-style: italic;
  font-weight: normal;
}

@font-face{
  font-family: 'Avenir Next';
  src: local('Avenir Next Demi Bold Italic'), local('AvenirNext-DemiBoldItalic'), url('../fonts/AvenirNext-DemiBoldItalic.woff');
  font-style: italic;
  font-weight: 600;
}

