@font-face {            
	font-family: 'Eight Bit Dragon';            
	src: url('eight-bit-dragon.eot');            
	src: url('eight-bit-dragon.eot?#iefix') format('embedded-opentype'),            
	url('eight-bit-dragon.woff') format('woff'),            
	url('eight-bit-dragon.woff2') format('woff2'),            
	url('eight-bit-dragon.ttf') format('truetype'),            
	url('eight-bit-dragon.svg#ywftsvg') format('svg');            
	font-style: normal;            
	font-weight: normal;            
}

