#page-content{
    background-color: rgb(230, 230, 230);
}
.color {
    width:20%;
    height: 100px;
    display: inline-block;
    background-color: red;
    vertical-align: top;


}

.blanco {
    background-color: #fff;
}

.negro {
    background-color: #000;
}

.rojo {
    background-color: red;
}

.verde {
    background-color: green;
}

.azul {
    background-color: blue;
}

.amarillo {
    background-color: yellow;
}