@font-face {            
	font-family: 'Gamegirl Classic';            
	src: url('GamegirlClassic.eot');            
	src: url('GamegirlClassic.eot?#iefix') format('embedded-opentype'),            
	url('GamegirlClassic.woff') format('woff'),            
	url('GamegirlClassic.woff2') format('woff2'),            
	url('GamegirlClassic.ttf') format('truetype'),            
	url('GamegirlClassic.svg#ywftsvg') format('svg');            
	font-style: normal;            
	font-weight: normal;            
}

