/******************************************************************************
 * FONTFACES
 * Webfonts and shit.
 ******************************************************************************/
@font-face{
  font-family: 'Oxygen Mono';
  src: url('../fonts/oxygen-mono-regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

