@font-face {font-family: 'Verdana';font-weight: normal;font-style: normal;src: url(/arbolito/fonts/verdana.woff2) format('woff2');} 

@font-face {font-family: 'Verdana Italic';font-weight: normal;font-style: normal;src: url(/arbolito/fonts/verdana.woff2) format('woff2');} 

@font-face {font-family: 'Verdana Bold';font-weight: normal;font-style: normal;src: url(/arbolito/fonts/verdana.woff2) format('woff2');} 

@font-face {font-family: 'Verdana Bold Italic';font-weight: normal;font-style: normal;src: url(/arbolito/fonts/verdana.woff2) format('woff2');} 